html {
  margin: 0px;
  padding: 0px;
}

body {
  width: 1024px;
  margin: 0px auto auto auto;
  border: 2px solid black;
}

header {
  margin-left: 10px;
}

figure {
  float: right;
  margin: -70px 10px 0px 0px;
}

.info {
  margin: 10px;
}